/* Staticman comment section and form */

.post-comments {
}
#comments h3.title{
  font-weight: bold;
  font-size: 20px;
  padding: 10px 4rem;
  background: #9a6bcc;
  color: white;
}
#comments .title a{
  text-decoration: none;
  color: white;
}
.post-comments h3.prompt{
   margin-top: 2rem;
}
.post-comment {
   background-color: white;
   padding: 2rem 4rem;
}
.post-comment.reply{
  background: #f3f0f0eb;
  position: relative;
}
.arrow-up{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #f3f1f1;
  position: absolute;
  top: -20px;
}
.post-comment:first-of-type {
}
.post-comment:last-of-type {
}
.post-comment-header {
   margin-bottom: 20px;
}
.post-comment .comment-message{
  font-size: 1.7rem;
  word-break: break-word;
}
.post-comment-avatar {
   display: inline-block;
   vertical-align: middle;
   border-radius: 50%;
}

.post-comment-info {
   display: inline-block;
   margin-left: 20px;
   margin-bottom: 0;
   vertical-align: middle;
}
.comment__reply{
  text-align: right;
  margin-top: 10px;
}
.comment__reply button{
  background: #9a6bcc;
  color: white;
  border: none;
  transition: all .2s;
}
.comment__reply button:hover{
  border: none; 
  background: #996bccd1;
}
/* Part of blog subscription also */
.post-comment-field, .post-blogsubscriber-btn {
   display: block;
   font: inherit;
   padding: 10px;
   margin-top: 20px;
   outline-color: #9b6bcc;
   width: 100%;
}

.btn-primary.comment-buttons {
   background: #9b6bcc !important;
   border-color: #9b6bcc !important;
   color: white;
   border-radius: 6px;
}

.btn-primary.comment-buttons:focus, .btn-primary.comment-buttons:hover {
   background: #7c51a2 !important;
   color: white;
}

.darkmode .btn-primary.comment-buttons:focus, .btn-primary.comment-buttons:hover{
  background: #838087 !important;
}

.post-comment-info .post-comment-name {
   font-size: 2rem;
   font-weight: 500;

}

.post-comment-info .post-time {
   font-size: 14px;
   font-weight: normal;
   letter-spacing: 0.03em;
   color: #888;

}

.post-comment-info .post-time:hover {
   color: #9b6bcc;
}

.post-new-comment {
    margin-bottom: 0px;
    margin-top: 30px;
    padding: 4rem;
    padding-top: 0rem;
}


/* End staticman comment section and form */

/* Staticman comment submission confirmation dialog */

.dialog {
   display: none;
   position: fixed;
   background-color: rgb(247, 247, 247);
   padding-top: 20%;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   text-align: center;
}

.dialog:target {
   display: block;
}
.dialog h3{
   font-size: 25px;
   font-weight: bold;
}

.dialog .btn-primary.comment-buttons.ok {
   width: 7rem;
   display: inline-block;
   text-decoration: none;
}

/* End staticman comment submission confirmation dialog */

/* Notify me of new comments checkbox */

input[type=checkbox].checkbox {
   display: none;
}

.checkbox-label {
   position: relative;
   padding-left: 0px;
   padding-bottom: 0px;
   margin-top: 10px;
   margin-bottom: 15px;
   float: left;
}

.checkbox-label:before {
   content: ' ';
   display: inline-block;
   width: 25px;
   height: 25px;
   border-width: 1px;
   border-style: solid;
   vertical-align: middle;
   position: relative;
   bottom: 2px;color: rgb(169, 169, 169);    
}

.checkbox:checked+.checkbox-label:after {
   content: 'x';
   display: inline-block;
   position: absolute;
   width: 25px;
   height: 25px;
   border-width: 2px;
   line-height: 25px;
   top: 11px;
   left: 1px;
   font-family: sans-serif;
   text-align: center;
}

/* End notify me of new comments checkbox */

/* Subscribe to blog posts */

.post-blogsubscriber-field.left {
   clear: left;
   float: left;
   font: inherit;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 20px;
   outline-color: #9b6bcc;
   width: 48%;  
}

.post-blogsubscriber-field.right {
   clear: none;
   float: right;
   font: inherit;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 20px;
   outline-color: #9b6bcc;
   width: 48%;  
}

/* End subscribe to blog posts */


@media (max-width: 430px){
  .post-comment-info {
     display: inline-block;
     margin-left: 0px;
     margin-top: 20px;
     margin-bottom: 0;
     vertical-align: middle;
  }
  section#privacy-button-links {
    flex-direction: column;
    align-items: center;
  }
  section#privacy-button-links div{
    margin-left: initial;
  }
  span.entry-meta{
    float: none;
  }
  h2.entry-title{
    margin-left: 0;
  }
  p.wordcount, p.teaser{
    margin-left: 0;
  }
  p.teaser{
    margin-top: 10px;
  }
  p.wordcount{
    margin-top: 10px;
    margin-bottom: 4rem;
  }
  p {
    font-size: 1.8rem;
  }
  .entry-title a{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .entry-title a:hover{
    border-bottom: none;
  }
}


/* copy to clipboard button */

.copy-code-button {
   color: #272822;
   background-color: #FFF;
   border-color: #272822;
   border: 2px solid;
   border-radius: 3px 3px 0px 0px;

   /* right-align */
   display: block;
   margin-left: auto;
   margin-right: 0;

   margin-bottom: -2px;
   padding: 3px 8px;
   font-size: 0.8em;
}

.copy-code-button:hover {
   cursor: pointer;
   background-color: #F2F2F2;
}

.copy-code-button:focus {
   /* Avoid an ugly focus outline on click in Chrome,
      but darken the button for accessibility.
      See https://stackoverflow.com/a/25298082/1481479 */
   background-color: #E6E6E6;
   outline: 0;
}

.copy-code-button:active {
   background-color: #D9D9D9;
}

.highlight pre {
   /* Avoid pushing up the copy buttons. */
   margin: 0;
}