<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
     <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
    {{ partial "header" . }}
     
    <div style="border: 1px solid black; margin:10px; padding:10px;">
        <div><a href="/alterrabills/externalcontents">External Contents</a></div>
        <hr>
        <p>* External Contents Folder</p>
    </div>

    <div style="border: 1px solid black; margin:10px; padding:10px; ">
        <div><a href="/alterrabills/products">Products</a></div>
        <hr>
        <p>* Products Folder</p>
    </div>

    <div style="border: 1px solid black; margin:10px; padding:10px;">
        <div><a href="/alterrabills/company">Company</a></div>
        <hr>
        <p>* Company Folder</p>
    </div>

    <div style="border: 1px solid black; margin:10px; padding:10px; ">
        <div><a href="/alterrabills/technicaldocumentation">Technical Documentation</a></div>
        <hr>
        <p>* Technical Documentation Folder</p>
    </div>

    <div style="border: 1px solid black; margin:10px; padding:10px;">
        <div><a href="/alterrabills/userguides">User Guides</a></div>
        <hr>
        <p>* User Guides Folder</p>
    </div>

    <div style="border: 1px solid black; margin:10px; padding:10px; ">
        <div><a href="/alterrabills/governancedocs">Governane Docs</a></div>
        <hr>
        <p>* Governane Docs Folder</p>
    </div>
 
     {{ partial "footer" . }}
</body>
</html>