<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
     <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
     {{ partial "header" . }}

     <div style="margin:25px;">
          <h1 style="color: blue;">{{.Title}}</h1>
          <div style="color:grey; font-size:16px;">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
          <div style="color:grey; font-size:16px;">{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>
          <div style="color:grey; font-size:16px;">{{if .Params.team}}Team: {{.Params.Team}}{{end}}</div>
          <hr>
          
          <div style="font-size:18px;margin-top: 50px;">{{.Content}}</div>
     </div>

     {{ template "_internal/disqus.html" . }}
     <a href="/" style="margin-bottom: 30px; padding-bottom: 10px;">Back to homepage</a>
     
     {{ partial "footer" . }}
</body>
</html>