<html>
<head>
     {{ template "_internal/google_analytics.html" . }}
     {{ template "_internal/google_analytics_async.html" . }}
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
     <link rel="stylesheet" href="/css/custom.css">
     <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
     {{ partial "header" . }}

     <div style="margin:25px;">
          <h1 style="color: blue;">{{.Title}}</h1>
          <div style="color:grey; font-size:16px;">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
          <div style="color:grey; font-size:16px;">{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>
          <div style="color:grey; font-size:16px;">{{if .Params.team}}Team: {{.Params.Team}}{{end}}</div>
          <hr>

          <div style="font-size:18px;margin-top: 50px;">{{.Content}}</div>

          <div style="color:grey; font-size:16px;">{{if .Params.file_link}} Link : <a href="{{.Params.file_link}}">link File</a>{{end}}</div>
     </div>

     <a href="/" style="margin-bottom: 30px; padding-bottom: 10px;">Back to homepage</a>
     
     <!-- LikeBtn.com BEGIN -->
     <span class="likebtn-wrapper" data-site_id="609358bf943ec9c811fb6860"></span>
     <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
     <!-- LikeBtn.com END -->
     
     <!--{{ template "_internal/disqus.html" . }}-->
     
     {{ partial "comments.html" .}}

     <!--<script>talkyardServerUrl='{{ .Site.Params.talkyardServerUrl }}';</script>
     <script async defer src="{{ .Site.Params.talkyardScriptUrl | default "https://c1.ty-cdn.net/-/talkyard-comments.min.js" }}"></script>
     <div class="talkyard-comments" data-discussion-id="{{ .Params.discussionId }}" style="margin-top: 45px;">
     <noscript>Please enable Javascript to view comments.</noscript>
     <p style="margin-top: 25px; opacity: 0.9">Comments powered by
     <a href="https://www.talkyard.io">Talkyard</a>.</p>
     </div>-->

     {{ partial "footer" . }}

     <script>
          function copyText() {
               /* Get the text field */
               var copyText = document.getElementById("myInput");

               /* Select the text field */
               copyText.select(); 
               copyText.setSelectionRange(0, 99999); /* For mobile devices */

               /* Copy the text inside the text field */
               document.execCommand("copy");

               /* Alert the copied text */
               alert("Copied the text: " + copyText.value);
          }
     </script>
     <script src="/js/main.js"></script>
</body>
</html>   