<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
     <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
    {{ partial "header" . }}
     
    <div style="border: 1px solid black; margin:10px; padding:10px;">
        <div><a href="/alterrabills">Alterra Bills</a></div>
        <hr>
        <p>* Alterra Bills Folder</p>
    </div>

    <div style="border: 1px solid black; margin:10px; padding:10px; ">
        <div><a href="/businessinitiative/bsa">BSA</a></div>
        <hr>
        <p>* BSA Folder</p>
    </div>
 
     {{ partial "footer" . }}
</body>
</html>